.ssmptms-headline-wrapper { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ssmptms-profile-button-group { 
    display: flex; 
    gap: 12px; 
}

.ssmptms-profile-back-button-wrapper {
    padding-top: 30px;
}

.ssmptms-status-bar {max-width: 320px; padding: 16px; background: #fff; }

.ssmptms-status-bar-running     { color:green; font-weight:bold; }
.ssmptms-status-bar-not-running { color:red;   font-weight:bold; }
.ssmptms-status-bar-idle        { color:#999;  font-weight:bold; }

.ssmptms-mail-charts_container { display: flex; gap: 20px; flex-direction: column; }
.ssmptms-mail-charts { display: flex; gap: 20px; flex-wrap: wrap; }

.ssmptms-mail-chart { 
    display: flex;
    flex-direction: column;
    height: 360px; 
    padding: 14px; 
    background: #ffffff; 
    border-radius: 4px; 
    border: 1px solid #ddd;
}
.ssmptms-bar-chart { flex: 0 0 600px; }
.ssmptms-donut-chart { flex: 0 0 360px; }
.ssmptms-donut-chart .ssmptms-mail-chart-wrapper { padding: 0 30px; }

.ssmptms-mail-chart-header {
    flex: 0 0 auto;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-bottom: 20px;
    position: relative;
}

.ssmptms-mail-chart-header h4 {
    width: 180px;
    text-align: center;
    margin: 0;
    font-size: 12px;
}

input.ssmptms-date-picker { 
    position: absolute;
    top: 0;
    right: 0;
    width: 80px; 
    height: 30px; 
    text-align: center; 
    border: 0;
    font-size: 12px;
    cursor: pointer;
}

.ssmptms-mail-chart-wrapper {
    position: relative;
    flex: 1 1 auto;
}

.ssmptms-no-chart-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.ssmptms-loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ssmptms-progress-bar {
    width: 100%;
    background: #e5e7eb;
    border-radius: 4px;
    overflow: hidden;
    height: 4px;
    margin: 6px 0;
}
.ssmptms-progress {
    height: 100%;
    background: linear-gradient(90deg, #22c55e, #16a34a);
    transition: width 0.4s ease-in-out;
}

.ssmptms-start-scheduler:not(.started)  {
    cursor: pointer;
}